# Assignment 5

## 1. Choose a REGRESSION dataset (reusing bikeshare is allowed), perform a test/train split, and build a regression model (just like in assignment 3), and calculate the 
    + Training Error (MSE, MAE)
    + Testing Error (MSE, MAE)
## 2. Choose a CLASSIFICATION dataset (not the adult.data set, The UCI repository has many datasets as well as Kaggle), perform test/train split and create a classification model (your choice but DecisionTree is fine). Calculate 
    + Accuracy
    + Confusion Matrix
    + Classifcation Report
    
## 3. (Bonus) See if you can improve the classification model's performance with any tricks you can think of (modify features, remove features, polynomial features)

In [3]:
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn import linear_model, metrics
plt.rcParams['figure.figsize'] = 20, 10
import pandas as pd
import numpy as np

bikeshare_data = pd.read_csv('bikeshare_hour_count.csv')
bikeshare_data.dropna(inplace=True)
bikeshare_data

     hour  monday  tuesday  wednesday  thursday  friday  saturday  sunday
0     0.0    21.0     34.0       43.0      47.0    51.0      89.0   106.0
1     0.1    39.0     22.0       27.0      37.0    56.0      87.0   100.0
2     0.2    31.0     24.0       26.0      42.0    50.0      98.0    77.0
3     0.3    26.0     27.0       25.0      29.0    52.0      99.0    87.0
4     0.4    19.0     24.0       29.0      29.0    50.0      98.0    69.0
..    ...     ...      ...        ...       ...     ...       ...     ...
235  23.5    36.0     65.0       60.0      94.0    80.0      93.0    28.0
236  23.6    37.0     61.0       66.0     100.0    81.0      95.0    28.0
237  23.7    30.0     42.0       49.0      80.0   101.0     105.0    27.0
238  23.8    33.0     52.0       47.0      79.0    91.0      93.0    24.0
239  23.9    34.0     33.0       48.0      65.0   105.0     111.0    23.0

[235 rows x 8 columns]

In [4]:
#Part 1
from sklearn.linear_model import LinearRegression
from sklearn import linear_model

x = bikeshare_data['hour'].values.reshape(-1,1)
y = bikeshare_data['saturday'].values.reshape(-1,1)

from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.2)
linear = linear_model.LinearRegression().fit(xtrain, ytrain)

In [6]:
(
    metrics.mean_squared_error(ytest, linear.predict(xtest))
)

23559.85808987989

In [8]:
(
    metrics.mean_absolute_error(ytest, linear.predict(xtest))
)

136.0879897318393

In [4]:
#Part 2
heart_data = pd.read_csv('heart.csv')
heart_data_golden = pd.read_csv('heart.csv')
heart_data.dropna()
heart_data.dropna()
heart_data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

In [5]:
heart_data['oldpeak'].unique()

array([1. , 3.1, 2.6, 0. , 1.9, 4.4, 0.8, 3.2, 1.6, 3. , 0.7, 4.2, 1.5,
       2.2, 1.1, 0.3, 0.4, 0.6, 3.4, 2.8, 1.2, 2.9, 3.6, 1.4, 0.2, 2. ,
       5.6, 0.9, 1.8, 6.2, 4. , 2.5, 0.5, 0.1, 2.1, 2.4, 3.8, 2.3, 1.3,
       3.5])

In [6]:
non_numeric_columns = ['sex','cp','fbs','restecg','exang', 'thal']

In [7]:
x = heart_data.copy().drop(non_numeric_columns, axis=1)

In [8]:
xt = heart_data_golden.copy().drop(non_numeric_columns, axis=1)

In [9]:
x['oldpeak'] = x.oldpeak.str.contains('.').astype(int)

AttributeError: Can only use .str accessor with string values!

In [51]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

In [53]:
model = DecisionTreeClassifier(criterion='entropy')

In [55]:
model.fit(x.drop(['oldpeak'], axis=1), x.oldpeak)

KeyError: "['species'] not found in axis"

In [ ]:
list(zip(x.drop(['oldpeak'], axis=1).columns, model.feature_importances_))

In [ ]:
x.drop(['oldpeak'] , axis=1).head()

In [ ]:
set(x.columns) - set(xt.columns)

In [ ]:
predictions = model.predict(xt.drop(['oldpeak'], axis=1))

In [ ]:
predictions_train = model.predict(x.drop(['oldpeak'], axis=1))

In [ ]:
xt.drop(['oldpeak'], axis=1).head()

In [ ]:
# References 
Janosi,Andras, Steinbrunn, William, Pfisterer, Matthias, 
and Detrano,Robert. 
(1988). 
Heart Disease. 
UCI Machine Learning Repository. 
https://doi.org/10.24432/C52P4X.